*,*::before,*::after {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

img, video {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  padding: 0;
  background: transparent;
  border: none;
}

button, input {
  font-family: inherit;
}

p,h1,h2,h3,h4,h5 {
  margin: 0;
}

ul,ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body{
  padding: 0;
  margin: 0;
  position: relative;
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
.container{
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}